<!DOCTYPE html>
<html>
  <head>
    <title>Apithy</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      * {
        font-family: "Courier New", Courier, monospace
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 65%;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
      }
      #description {
        height: 15%;
        width: 50%;
        text-align: center;
        margin: 0px auto;
      }
    </style>
  </head>
  <body>
    <h1 align="center"> Apithy </h1>

    <div id="description">
      <p color="666699">Are you indecisive? Do you spend so much time deciding what to do that you often miss events? If so, you've come to the right place! Enter a keyword to search for related events going on near you! 
      </p>
      <form action="/" method = "POST">
	<input type = "text" name="search" placeholder="ex. food, concert" align="center">
	<input type = "submit" value = "Submit">
      </form>
      <p></p>
    </div>

    <div id="map"></div>
    <script>
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 40.7834345, lng: -73.9662495},
            zoom: 8
        });

        var marker = new google.maps.Marker({
            position: {lat: 40, lng: -73},
            map: map,
            title:'thing!'
        });

    marker.setMap(map)

    }
      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4lPxqAb499_sFFmr2taESDMh90XPz80o&callback=initMap"
        async defer></script>
  </body>
</html>
